* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
}

#header {
  height: 100px;
  background-color: grey;
}

#mainBlock {
  height: 600px;
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.menu {
  height: 100%;
  width: 20%;
  border: 1px solid rosybrown;
  background-color: red;
  margin-right: 20px;
}

.menuItem {
  margin: 10px;
  background-color: lightskyblue;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 5px;
  text-decoration: underline;
}

.rightBlock {
  flex-grow: 1;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 40%;
  padding: 20px;
  margin: 10px;
  height: 130px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  height: 80px;
  background-color: black;
}