.cssBackgroundImage {
  background-image: url("green-nature.jpg");
  height: 300px;
  background-size: cover;
}

.alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cssBackgroundImageContent {
  font-size: 100px;
  color: red;
}

:root {
  --blue-color-bg: #1e90ff;
  --white-color: white;
  --block-margin-top: 50px
}

.whiteText {
  color: var(--white-color);
  font-size: 70px;
}

.infoContainer {
  margin-top: var(--block-margin-top);
  background-color: var(--blue-color-bg);
  height: calc(200px - 50px);
}

.shadowContainer {
  width: 100%;
  margin-top : var(--block-margin-top);
  background-color: var(--blue-color-bg);
  height: 200px;
  box-shadow: 2px 5px 5px lightskyblue;
}

.gradientContainer {
  margin-top: var(--block-margin-top);
  height: 200px;
  background-image: linear-gradient(to bottom right, yellow, green);
}

.imageContainer {
  margin-top : var(--block-margin-top);
  height: 500px;
  width: 100vw;
  object-fit: contain;
}