* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.header {
    height: 50px;
    background-color: rgba(0, 128, 0, 0.4);
}

.sections {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 500px;
    background-color: gray;
}

.indentsSection, .fontsSection {
    height: 300px;
}

.indentsSection {
    width: 30%;
    padding: 20px;
    margin: 20px;
    background-color: yellow;
    border: 5px solid #FF0000;
    border-radius: 20px;
}

.fontsSection {
    margin: 20px;
    padding: 40px;
    background-color: antiquewhite;
    flex-grow: 1;
}

.fontsSection * {
    padding: 10px 10px 10px 20px;
}

.tahomaFont {
    font-family: Tahoma, serif;
    font-size: 20px;
}

.centeredBoldElement {
    font-weight: 800;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.textStyles {
    text-indent: 50px;
    letter-spacing: 5px;
}